.navbar {
  background-color: #dadada;
}
.navbar .navbar-brand {
  width: 50px;
}
.navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}
.navbar .nav-item {
  padding-right: 50px;
  display: flex;
  align-items: center;
}
.navbar .nav-item .nav-link {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.navbar .nav-item .nav-link.active {
  color: #aa9359;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}
.navbar .nav-item .nav-link:hover {
  color: #aa9359;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
}

.carousel {
  height: 700px;
}
.carousel .carousel-main-inner {
  padding: 200px 0 0 147px;
}
.carousel .carousel-main-inner .carousel-text .text-new-arrival {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: #515151;
}
.carousel .carousel-main-inner .carousel-text .text-comfort-chair {
  padding-top: 17px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #464646;
}
.carousel .carousel-main-inner .carousel-text p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #515151;
  padding-top: 10px;
}
.carousel .carousel-main-inner .carousel-text button.btn-buy-now {
  margin-top: 35px;
  padding: 15px 70px;
  border: 2px solid #0b0b0b;
  box-sizing: border-box;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  color: #515151;
}

.card-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color1);
}
.card-product .card {
  width: 320px;
  height: 350px;
  background-color: var(--bg-color1);
  border-radius: 1rem;
  padding: 2rem 1rem 0;
  color: var(--primary-text);
  overflow-y: hidden;
}
.card-product .card__img {
  position: inherit;
  padding-left: inherit;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}
.card-product .card__data {
  transform: translateY(13.2rem);
  text-align: center;
}
.card-product .card__title {
  color: var(--tried-text);
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 22px;
  font-size: 30px;
}
.card-product .card__price {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: var(--primary-text);
  size: 24px;
  line-height: 30px;
}
.card-product .card__place {
  size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.card-product .card__description {
  size: 18px;
  font-weight: 300;
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
  line-height: 22px;
}

.card-product {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color1);
}
.card-product .card {
  width: 320px;
  height: 350px;
  background-color: var(--bg-color1);
  border-radius: 1rem;
  padding: 2rem 1rem 0;
  color: var(--primary-text);
  overflow-y: hidden;
}
.card-product .card__img {
  position: inherit;
  padding-left: inherit;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
}
.card-product .card__data {
  transform: translateY(13.2rem);
  text-align: center;
}
.card-product .card__title {
  color: var(--tried-text);
  margin-bottom: 0.5rem;
  font-weight: 500;
  size: 18px;
  line-height: 22px;
}
.card-product .card__price {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: var(--primary-text);
  size: 24px;
  line-height: 30px;
}
.card-product .card__place {
  size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.card-product .card__description {
  size: 18px;
  font-weight: 300;
  text-align: initial;
  margin-bottom: -0.75rem;
  opacity: 0;
  line-height: 45px;
}

.category__product {
  color: #0b0b0b;
  font-weight: 500;
  font-size: 14px;
}

.title__product {
  font-weight: 300;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  white-space: nowrap;
}

.owner__product {
  font-weight: 600;
  font-size: 14px;
}

.price {
  font-weight: bold;
  font-size: 24px;
  color: #aa9359;
}

#product-list .product__inner {
  margin-bottom: 40px;
  max-height: 117px;
}
#product-list .product__inner .section_img_product img {
  width: 117px;
  height: 117px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
#product-list .product__inner .section__details {
  margin: auto 0;
}

.section__details {
  line-height: 1.2;
}

.btn-login {
  border: 2px solid #0B0B0B;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #DADADA;
  color: #515151;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 12px;
}

footer {
  background: var(--bg-color3);
  padding: 32px 0;
  text-align: center;
  color: var(--secondary-text);
  font-size: 12px;
}

.category-wrapper .category-content img {
  border-radius: 15px;
}

.header {
  font-family: "Montserrat", sans-serif !important;
  font-size: 48px;
  font-weight: 300;
}

.header-title {
  font-family: "Montserrat", sans-serif !important;
  font-size: 36px;
  font-weight: 700;
  color: #AA9359;
}

.card {
  background-color: var(--bg-color1);
  border: none;
}

.section-details-header {
  padding-top: 76px;
}

.section-details-content {
  min-height: 100vh;
}
.section-details-content .card-details {
  padding: 30px;
  border-radius: 11px;
}
.section-details-content .card-details .buy-container .btn-buy {
  border: 2px solid #0B0B0B;
  color: #AA9359;
  font-size: 18px;
  font-weight: 600;
  padding: 3px 12px;
}
.section-details-content .card-details .buy-container .btn-buy:hover {
  background-color: #dadadd;
}
.section-details-content .features {
  margin-top: 20px;
}
.section-details-content .features h3 {
  font-size: 18px;
  color: #071c4d;
  margin-bottom: 0;
}
.section-details-content .features p {
  margin-bottom: 0;
}
.section-details-content .features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}
.section-details-content .features .features-image {
  width: 45px;
  height: 45px;
  float: left;
}
.section-details-content .gallery .xzoom-container {
  display: block;
}
.section-details-content .gallery .xzoom {
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
}
.section-details-content .gallery .xactive {
  border: 4px solid #1abc9c;
  box-shadow: none;
}

.section-testimony .title {
  margin: 50px 0 30px;
}

.section-login {
  background: rgba(150, 150, 150, 0.72);
  position: relative;
  height: 100vh;
}
.section-login::before {
  background-image: url("../img/login_background.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 1;
  position: absolute;
  z-index: -1;
}
.section-login .form-login {
  max-width: 1028px;
  margin: 0 auto;
  padding-top: 50px;
}
.section-login .form-login img {
  height: 100%;
}
.section-login .form-login .login-body .login-title {
  padding: 72px 0 77px;
  line-height: 44px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
}
.section-login .form-login .login-body .login-inner {
  width: 320px;
  margin: 0 auto;
}
.section-login .form-login .login-body .login-inner .btn-login {
  margin: 50px 0 20px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}
.section-login .form-login .login-body .login-inner .btn-login:hover {
  background-color: #000000;
  color: #ffffff;
}
.section-login .form-login .login-body .login-inner input {
  background: #f4f4f4;
}
.section-login .form-login .login-body .login-inner a.sign-up {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: #000000;
}
.section-login .form-login .login-body .login-inner a.sign-up:hover {
  text-decoration: underline;
}
.section-login .form-login .login-body .login-inner a.sign-up span {
  font-weight: 700;
}
.section-login .form-login .email-login,
.section-login .form-login .pass-login {
  outline: none;
  border: 1px solid #ffffff;
  background-color: #f4f4f4;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  color: #000000;
  display: block;
  width: 100%;
}
.section-login .form-login .login-form-grids {
  width: 45%;
  padding: 3rem;
  margin: 3rem auto 0;
  background-color: #ffffff;
}
.section-login .form-login .login-form-grids .pass-login {
  margin: 1rem 0 0;
}
.section-login .form-login .login-form-grids .testd {
  outline: none;
  border: none;
  padding: 10px 0;
  font-size: 1rem;
}
.section-login .form-login .testd {
  background-color: #f4f4f4;
  color: #000000;
}

@media (max-width: 767px) {
  .section-login {
    background-image: none;
    background-color: #ffffff;
  }
}
.input-single {
  margin: 50px 0 20px;
  border: 2px solid #000000;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}
.input-single:hover {
  background-color: #000000;
  color: #ffffff;
}

.gradient_shadow {
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: 6px;
  background: radial-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background: -webkit-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background: -o-radial-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background-size: 100% 6px;
  background-repeat: no-repeat;
}
.gradient_shadow .dropdown {
  float: left;
  height: 48.5px;
  overflow: hidden;
  transition: height 0.8s ease-out;
  width: 130px;
}

.removebtn {
  margin-top: 2.5rem;
  margin-left: 16rem;
}

.bgimg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.9;
  padding: 20px 10px;
  filter: alpha(opacity=90);
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.75s, color 0.75s, box-shadow 0.75s;
  border-radius: 5px;
}
.topnav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.topnav li {
  display: inline;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .topnav ul {
    display: block;
    text-align: center;
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  .topnav li {
    display: block;
    text-align: center;
    width: 100%;
  }
  .topnav li a:hover {
    background-color: #f2f2f2;
    color: #2b2b2b;
    box-shadow: 5px 5px 10px black;
  }
}
.middle {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000;
}

hr {
  margin: auto;
  width: 40%;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
    width: 120px;
    height: 120px;
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
    width: 120px;
    height: 120px;
  }
}
@-webkit-keyframes wheelspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes wheelspin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes floor {
  to {
    background-position-x: 100%;
  }
}
@keyframes floor {
  to {
    background-position-x: 100%;
  }
}
@-webkit-keyframes pedalstem-front {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pedalstem-front {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes pedalstem-back {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes pedalstem-back {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes pedalbase-front {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes pedalbase-front {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes pedalbase-back {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@keyframes pedalbase-back {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes riding {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(250%);
  }
}
@keyframes riding {
  from {
    transform: translateX(-250%);
  }
  to {
    transform: translateX(250%);
  }
}
.bike {
  width: 600px;
  height: 690px;
  margin: auto;
  margin-top: 185px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: riding;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: riding;
  -moz-animation-duration: 4s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: riding;
  -o-animation-duration: 4s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: riding;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.bike .part {
  position: absolute;
}

.frame .bar {
  width: 12px;
  position: absolute;
  background: #e8bf56;
}
.frame .bar .left-top {
  width: 10px;
  height: 186px;
  margin-left: 128px;
  margin-top: 110px;
  transform: rotate(37deg);
}
.frame .bar .left-bottom {
  width: 8px;
  margin-left: 149px;
  margin-top: 203px;
  height: 170px;
  transform: rotate(-82deg);
}
.frame .bar left {
  height: 230px;
  margin-left: 200px;
  margin-top: 80px;
  transform: rotate(-15deg);
}
.frame .bar .top {
  height: 224px;
  margin-left: 282px;
  margin-top: -10px;
  transform: rotate(90deg);
}
.frame .bar .bottom {
  margin-left: 317px;
  margin-top: 87px;
  height: 250px;
  transform: rotate(45deg);
}
.frame .bar .right {
  height: 230px;
  margin-left: 421px;
  margin-top: 60px;
  transform: rotate(-19deg);
}

.sadle {
  margin-left: 184px;
}
.sadle .sit-here {
  height: 0;
  width: 10px;
  position: absolute;
  border-bottom: 110px solid #000;
  border-left: 0px solid transparent;
  border-right: 22px solid transparent;
  border-radius: 10px 0 10px 0;
  margin-top: -20px;
  margin-left: -35px;
  transform: rotate(98deg);
}
.sadle .sadlepen {
  width: 10px;
  height: 200px;
  margin-top: 30px;
  position: absolute;
  background: #dadada;
  transform: rotate(-16deg);
}

.wheel {
  width: 200px;
  height: 200px;
  margin-top: 160px;
  border-radius: 100%;
  border: 15px solid #dadada;
  box-shadow: 0 0 0 10px #333;
  -webkit-animation-name: wheelspin;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: wheelspin;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: wheelspin;
  -o-animation-duration: 2s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: wheelspin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.wheel .left {
  margin-left: -35px;
}
.wheel .right {
  margin-left: 348px;
}
.wheel .spoke {
  width: 2px;
  height: 200px;
  margin-left: 98px;
  position: absolute;
  background: #dadada;
}
.wheel .spoke:nth-child(2) {
  transform: rotate(30deg);
}
.wheel .spoke:nth-child(3) {
  transform: rotate(60deg);
}
.wheel .spoke:nth-child(4) {
  transform: rotate(90deg);
}
.wheel .spoke:nth-child(5) {
  transform: rotate(120deg);
}
.wheel .spoke:nth-child(6) {
  transform: rotate(150deg);
}
.wheel .spoke:nth-child(7) {
  transform: rotate(180deg);
}
.wheel .spoke:nth-child(8) {
  transform: rotate(210deg);
}

.axis {
  width: 25px;
  height: 25px;
  margin-top: 265px;
  position: absolute;
  background: #333;
  border-radius: 100%;
}
.axis .left {
  margin-left: 67px;
}
.axis .right {
  margin-left: 451px;
}

.handlebar .stem {
  width: 10px;
  height: 200px;
  margin-top: 45px;
  margin-left: 412px;
  position: absolute;
  background: #dadada;
  transform: rotate(-19deg);
}
.handlebar .connector {
  width: 20px;
  height: 20px;
  margin-left: 374px;
  margin-top: 40px;
  transform: rotate(-19deg);
  background: #dadada;
}
.handlebar .prehandle {
  width: 15px;
  height: 40px;
  margin-left: 394px;
  margin-top: -45px;
  transform: rotate(42deg);
  background: #dadada;
}
.handlebar .handle {
  width: 25px;
  height: 25px;
  margin-left: 400px;
  margin-top: -45px;
  position: absolute;
  background: #000;
  border-radius: 100%;
}

.pedals {
  margin-left: 227px;
  margin-top: 295px;
}
.pedals * {
  position: absolute;
}
.pedals .inside {
  width: 9px;
  height: 9px;
  background: #333;
  border-radius: 100%;
  margin-left: 3.5px;
  margin-top: 2.4px;
}
.pedals .outside {
  width: 80px;
  height: 80px;
  margin-top: -39px;
  margin-left: -37px;
  border: 5px solid #000;
  border-radius: 100%;
}
.pedals .pedalstem {
  width: 12px;
  height: 80px;
  margin-left: 2px;
  background: #dadada;
  border-radius: 10px 10px 0 0;
  transform-origin: 6px 7px;
}
.pedals .pedalstem .front {
  -webkit-animation-name: pedalstem-front;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalstem-front;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalstem-front;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalstem-front;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pedals .pedalstem .back {
  -webkit-animation-name: pedalstem-back;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalstem-back;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalstem-back;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalstem-back;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(180deg);
}
.pedals .pedalbase {
  width: 40px;
  height: 15px;
  margin-top: 70px;
  margin-left: -12px;
  background: #000;
}
.pedals .pedalbase .front {
  -webkit-animation-name: pedalbase-front;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalbase-front;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalbase-front;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalbase-front;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.pedals .pedalbase .back {
  -webkit-animation-name: pedalbase-back;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalbase-back;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalbase-back;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalbase-back;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pause {
  width: 20px;
  height: 55px;
  margin: 10% auto;
  background: #fff;
  cursor: pointer;
  border-right: 12px solid #e8bf56;
  border-left: 12px solid #e8bf56;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.pause.active {
  width: 0;
  height: 0;
  border-top: 25.5px solid transparent;
  border-left: 44px solid #e8bf56;
  border-bottom: 25.5px solid transparent;
  border-right: none;
}

.paused {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.inside {
  z-index: 6;
}

.axis {
  z-index: 5;
}

.pedalstem .front {
  z-index: 5;
}

.frame {
  z-index: 4;
}

.outside {
  z-index: 4;
}

.handlebar {
  z-index: 3;
}

.sit-here {
  z-index: 2;
}

.wheel {
  z-index: 1;
}

.pedalstem .back {
  z-index: -1;
}

.tab-content .tab-pane {
  height: 900px;
}

:root {
  --bg-color1: #f2f2f2;
  --bg-color2: #b3b3b5;
  --bg-color3: #dadada;
  --primary-color: #aa9359;
  --primary-text: #aa9359;
  --secondary-color: #c4c4c4;
  --secondary-text: #c4c4c4;
  --tried-text: #464646;
  --alert: #ff8181;
  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color1);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

#product-category .card-group .card {
  margin: 0 auto;
  border: none;
}

.card-group .card {
  background-color: #f2f2f2;
}

.card__button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: linear-gradient(to right, #09c6f9, #045de9);
  color: var(--tried-text);
  border-radius: 0.5rem;
  font-weight: 600;
  transition: 0.2s;
  opacity: 0;
}
.card__button:hover {
  box-shadow: 0 18px 40px -12px rgba(242, 162, 12, 0.35);
}

.card__description {
  color: var(--secondary-text);
  transition: 0.5s;
}

/* Hover card effect */
.card:hover .card__img {
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
  transition: 0.5s;
}
.card:hover .card__data {
  text-align: center;
  transform: translateY(-145px);
  transition: 0.5s;
}
.card:hover .card__title {
  margin-bottom: 0;
  transition: 0.5s;
}
.card:hover .card__description {
  text-align: center;
}
.card .card__description,
.card .card__button {
  transition-delay: 0.2s;
  opacity: 1;
}

.form-control {
  background-color: var(--bg-color3);
  color: #000000;
}/*# sourceMappingURL=main.css.map */-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.pt-0 {
  padding-top: 0px;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.pl-48 {
  padding-left: 12rem;
}

.pb-56 {
  padding-bottom: 14rem;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events-auto {
  pointer-events: auto;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.left-0 {
  left: 0px;
}

.resize-none {
  resize: none;
}

.resize-y {
  resize: vertical;
}

.resize-x {
  resize: horizontal;
}

.resize {
  resize: both;
}

* {
  --tw-shadow: 0 0 #0000;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

* {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(66, 153, 225, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 rgba(0, 0, 0, 0));
}

.ring-inset {
  --tw-ring-inset: inset;
}

.fill-current {
  fill: currentColor;
}

.table-auto {
  table-layout: auto;
}

.table-fixed {
  table-layout: fixed;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgba(26, 32, 44, var(--tw-text-opacity));
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgba(224, 25, 93, var(--tw-text-opacity));
}

.text-pink-400 {
  --tw-text-opacity: 1;
  color: rgba(249, 202, 218, var(--tw-text-opacity));
}

.hover\:text-pink-400:hover {
  --tw-text-opacity: 1;
  color: rgba(249, 202, 218, var(--tw-text-opacity));
}

.focus\:text-black:focus {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.focus\:text-pink-400:focus {
  --tw-text-opacity: 1;
  color: rgba(249, 202, 218, var(--tw-text-opacity));
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

.overflow-clip {
  text-overflow: clip;
}

.italic {
  font-style: italic;
}

.not-italic {
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.normal-case {
  text-transform: none;
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.hover\:underline:hover {
  text-decoration: underline;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.ordinal,
.slashed-zero,
.lining-nums,
.oldstyle-nums,
.proportional-nums,
.tabular-nums,
.diagonal-fractions,
.stacked-fractions {
  --tw-ordinal: var(--tw-empty, /*!*/ /*!*/);
  --tw-slashed-zero: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-figure: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-spacing: var(--tw-empty, /*!*/ /*!*/);
  --tw-numeric-fraction: var(--tw-empty, /*!*/ /*!*/);
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.normal-nums {
  font-variant-numeric: normal;
}

.ordinal {
  --tw-ordinal: ordinal;
}

.slashed-zero {
  --tw-slashed-zero: slashed-zero;
}

.lining-nums {
  --tw-numeric-figure: lining-nums;
}

.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums;
}

.proportional-nums {
  --tw-numeric-spacing: proportional-nums;
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
}

.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions;
}

.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions;
}

.tracking-wide {
  letter-spacing: 0.025em;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-text {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.select-all {
  -webkit-user-select: all;
  -moz-user-select: all;
  user-select: all;
}

.select-auto {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

.align-text-top {
  vertical-align: text-top;
}

.align-text-bottom {
  vertical-align: text-bottom;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre {
  white-space: pre;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-normal {
  overflow-wrap: normal;
  word-break: normal;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.w-8 {
  width: 2rem;
}

.w-16 {
  width: 4rem;
}

.w-56 {
  width: 14rem;
}

.w-auto {
  width: auto;
}

.w-1\/2 {
  width: 50%;
}

.w-2\/12 {
  width: 16.666667%;
}

.w-5\/12 {
  width: 41.666667%;
}

.w-6\/12 {
  width: 50%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.gap-4 {
  gap: 1rem;
}

.grid-flow-row {
  grid-auto-flow: row;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-flow-row-dense {
  grid-auto-flow: row dense;
}

.grid-flow-col-dense {
  grid-auto-flow: column dense;
}

.grid-cols-9 {
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.col-span-9 {
  grid-column: span 9/span 9;
}

.grid-rows-2 {
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.row-span-1 {
  grid-row: span 1/span 1;
}

.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-gpu {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate3d(var(--tw-translate-x), var(--tw-translate-y), 0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform-none {
  transform: none;
}

.rotate-0 {
  --tw-rotate: 0deg;
}

.rotate-180 {
  --tw-rotate: 180deg;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition {
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-200 {
  transition-duration: 200ms;
}

@-webkit-keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
/* utils */
.grid {
  grid-auto-flow: row dense;
  grid-auto-rows: minmax(180px, auto);
}

.stretched-link {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}

/* card */
.card .card-shadow {
  height: 100%;
  --tw-shadow: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.card:hover .card-shadow {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}

/* overlay */
.overlay {
  position: absolute;
}

.overlay * {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
}

.overlay.hoverable > * {
  opacity: 0;
}

.overlay.hoverable:hover > * {
  opacity: 1;
}

.overlay .video {
  --tw-bg-opacity: 1;
  background-color: rgba(188, 231, 240, var(--tw-bg-opacity));
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  position: absolute;
  width: 5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMyIgaGVpZ2h0PSIyNiIgZmlsbD0ibm9uZSIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNMjEgOS41MzZjMi42NjcgMS41NCAyLjY2NyA1LjM5IDAgNi45MjhsLTE1IDguNjZjLTIuNjY3IDEuNTQtNi0uMzg1LTYtMy40NjRWNC4zNEMwIDEuMjYgMy4zMzMtLjY2NCA2IC44NzZsMTUgOC42NnoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=#icon-play);
  top: 50%;
  left: 50%;
}

@media only screen and (max-width: 768px) {
  .hero .hero-image,
.hero .hero-caption {
    min-height: 90vh;
  }
  .hero .hero-cta {
    height: 3rem;
    width: 3rem;
    transform: translateX(-75px) translateY(-50%);
    background-size: 37.5%;
  }
}
/* breadcrumb */
ul.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

ul.breadcrumb li:not(:last-child):after {
  content: "/";
  padding-left: 1rem;
  padding-right: 1rem;
}

ul.breadcrumb li:not(:last-child) a {
  font-weight: 300;
}

ul.breadcrumb li:last-child a {
  font-weight: 600;
}

/* slider */
.slider {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.slider .thumbnail {
  display: flex;
  order: 9999;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  overflow: auto;
  padding-left: 1rem;
  width: 100vw;
}

.slider .thumbnail .item {
  --tw-bg-opacity: 1;
  background-color: rgba(249, 249, 249, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  position: relative;
  width: 106px;
  height: 106px;
}

.slider .thumbnail .item:after {
  content: "";
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  --tw-border-opacity: 0;
  border-radius: 0.5rem;
  border-width: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
}

.slider .thumbnail .item.selected:after {
  content: "";
  --tw-bg-opacity: 0.25;
  --tw-border-opacity: 1;
}

.slider .preview {
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 320px;
}

@media only screen and (min-width: 768px) {
  .slider {
    flex-direction: row;
  }
  .slider .thumbnail {
    display: block;
    order: -9999;
    overflow: visible;
    padding-left: 0px;
    width: auto;
  }
  .slider .preview {
    height: 600px;
    width: 560px;
  }
}
a.cart svg g circle.dot {
  display: none;
}

a.cart.cart-filled svg g circle.dot {
  display: block;
}

button[disabled] {
  --tw-bg-opacity: 1;
  background-color: rgba(240, 240, 240, var(--tw-bg-opacity));
}

button[disabled]:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(240, 240, 240, var(--tw-bg-opacity));
}

button[disabled] {
  cursor: not-allowed;
  --tw-text-opacity: 1;
  color: rgba(210, 210, 210, var(--tw-text-opacity));
}

button[disabled]:hover {
  --tw-text-opacity: 1;
  color: rgba(210, 210, 210, var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .md\:bg-transparent {
    background-color: transparent;
  }
  .md\:rounded-3xl {
    border-radius: 1.5rem;
  }
  .md\:border-b-0 {
    border-bottom-width: 0px;
  }
  .md\:block {
    display: block;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:items-center {
    align-items: center;
  }
  .md\:flex-1 {
    flex: 1 1 0%;
  }
  .md\:flex-initial {
    flex: 0 1 auto;
  }
  .md\:h-auto {
    height: auto;
  }
  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .md\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .md\:my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .md\:mb-0 {
    margin-bottom: 0px;
  }
  .md\:opacity-100 {
    opacity: 1;
  }
  .md\:p-6 {
    padding: 1.5rem;
  }
  .md\:p-8 {
    padding: 2rem;
  }
  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .md\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .md\:pl-0 {
    padding-left: 0px;
  }
  .md\:pt-12 {
    padding-top: 3rem;
  }
  .md\:pb-56 {
    padding-bottom: 14rem;
  }
  .md\:pl-72 {
    padding-left: 18rem;
  }
  .md\:relative {
    position: relative;
  }
  .md\:inset-0 {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
  .md\:bottom-auto {
    bottom: auto;
  }
  .md\:text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
  }
  .md\:text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
  }
  .md\:visible {
    visibility: visible;
  }
  .md\:w-88 {
    width: 22rem;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:w-1\/2 {
    width: 50%;
  }
  .md\:w-2\/12 {
    width: 16.666667%;
  }
  .md\:w-3\/12 {
    width: 25%;
  }
  .md\:w-4\/12 {
    width: 33.333333%;
  }
  .md\:w-5\/12 {
    width: 41.666667%;
  }
  .md\:w-8\/12 {
    width: 66.666667%;
  }
  .md\:col-span-2 {
    grid-column: span 2/span 2;
  }
  .md\:col-span-3 {
    grid-column: span 3/span 3;
  }
  .md\:col-span-4 {
    grid-column: span 4/span 4;
  }
  .md\:row-span-2 {
    grid-row: span 2/span 2;
  }
}
@media (min-width: 1024px) {
  .lg\:block {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */