// /===== VARIABLES CSS =====/
:root {
    // /===== Colores =====/
    --bg-color1: #f2f2f2;
    --bg-color2: #b3b3b5;
    --bg-color3: #dadada;
    --primary-color: #aa9359;
    --primary-text: #aa9359;
    --secondary-color: #c4c4c4;
    --secondary-text: #c4c4c4;
    --tried-text: #464646;
    --alert: #ff8181;
    // /===== Fuente y tipografia =====/
    --body-font: "Montserrat", sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
  
  // /===== BASE =====/
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color1);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }