.gradient_shadow {
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: 6px;
  background: radial-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background: -webkit-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background: -o-radial-gradient(50% 0, rgba(0, 0, 0, 0.5), transparent 70%);
  background-size: 100% 6px;
  background-repeat: no-repeat;
}

.gradient_shadow .dropdown {
  float: left;
  height: 48.5px;
  overflow: hidden;
  -webkit-transition: height 0.8s ease-out;
  transition: height 0.8s ease-out;
  width: 130px;
}

.bgimg {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  overflow: hidden;
  border-radius: 5px;
  opacity: 0.9;
  padding: 20px 10px;
  filter: alpha(opacity=90);
  -webkit-box-shadow: 0px 5px 200px black inset;
          box-shadow: 0px 5px 200px black inset;
}

.topnav a {
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  -webkit-transition: background-color 0.75s, color 0.75s, box-shadow 0.75s;
  -webkit-transition: background-color 0.75s, color 0.75s, -webkit-box-shadow 0.75s;
  transition: background-color 0.75s, color 0.75s, -webkit-box-shadow 0.75s;
  transition: background-color 0.75s, color 0.75s, box-shadow 0.75s;
  transition: background-color 0.75s, color 0.75s, box-shadow 0.75s, -webkit-box-shadow 0.75s;
  border-radius: 5px;
}

.topnav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

.topnav li {
  display: inline;
  margin: 20px 0;
}

@media only screen and (min-width: 768px) {
  .topnav ul {
    display: block;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .topnav li {
    display: block;
    text-align: center;
    width: 100%;
  }
  .topnav li a:hover {
    background-color: #f2f2f2;
    color: #2b2b2b;
    -webkit-box-shadow: 5px 5px 10px black;
            box-shadow: 5px 5px 10px black;
  }
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}

@-webkit-keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
            box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
    width: 120px;
    height: 120px;
  }
}

@keyframes pulse {
  to {
    -webkit-box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
            box-shadow: 0 0 150px 5px rgba(169, 68, 66, 0);
    width: 120px;
    height: 120px;
  }
}

@-webkit-keyframes wheelspin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheelspin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes floor {
  to {
    background-position-x: 100%;
  }
}

@keyframes floor {
  to {
    background-position-x: 100%;
  }
}

@-webkit-keyframes pedalstem-front {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes pedalstem-front {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes pedalstem-back {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes pedalstem-back {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes pedalbase-front {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes pedalbase-front {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes pedalbase-back {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes pedalbase-back {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes riding {
  from {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  to {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
}

@keyframes riding {
  from {
    -webkit-transform: translateX(-250%);
            transform: translateX(-250%);
  }
  to {
    -webkit-transform: translateX(250%);
            transform: translateX(250%);
  }
}

.bike {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 368px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-animation-name: riding;
  -webkit-animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: riding;
  -moz-animation-duration: 4s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: riding;
  -o-animation-duration: 4s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: riding;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.bike .part {
  position: absolute;
}

.frame .bar {
  width: 12px;
  position: absolute;
  background: #e8bf56;
}

.frame .bar .left-top {
  width: 10px;
  height: 186px;
  margin-left: 128px;
  margin-top: 110px;
  -webkit-transform: rotate(37deg);
  transform: rotate(37deg);
}

.frame .bar .left-bottom {
  width: 8px;
  margin-left: 149px;
  margin-top: 203px;
  height: 170px;
  -webkit-transform: rotate(-82deg);
  transform: rotate(-82deg);
}

.frame .bar left {
  height: 230px;
  margin-left: 200px;
  margin-top: 80px;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.frame .bar .top {
  height: 224px;
  margin-left: 282px;
  margin-top: -10px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.frame .bar .bottom {
  margin-left: 317px;
  margin-top: 87px;
  height: 250px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.frame .bar .right {
  height: 230px;
  margin-left: 421px;
  margin-top: 60px;
  -webkit-transform: rotate(-19deg);
  transform: rotate(-19deg);
}

.sadle {
  margin-left: 184px;
}

.sadle .sit-here {
  height: 0;
  width: 10px;
  position: absolute;
  border-bottom: 110px solid #000;
  border-left: 0px solid transparent;
  border-right: 22px solid transparent;
  border-radius: 10px 0 10px 0;
  margin-top: -20px;
  margin-left: -35px;
  -webkit-transform: rotate(98deg);
  transform: rotate(98deg);
}

.sadle .sadlepen {
  width: 10px;
  height: 200px;
  margin-top: 30px;
  position: absolute;
  background: #dadada;
  -webkit-transform: rotate(-16deg);
  transform: rotate(-16deg);
}

.wheel {
  width: 200px;
  height: 200px;
  margin-top: 160px;
  border-radius: 100%;
  border: 15px solid #dadada;
  -webkit-box-shadow: 0 0 0 10px #333;
          box-shadow: 0 0 0 10px #333;
  -webkit-animation-name: wheelspin;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: wheelspin;
  -moz-animation-duration: 2s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: wheelspin;
  -o-animation-duration: 2s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: wheelspin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wheel .left {
  margin-left: -35px;
}

.wheel .right {
  margin-left: 348px;
}

.wheel .spoke {
  width: 2px;
  height: 200px;
  margin-left: 98px;
  position: absolute;
  background: #dadada;
}

.wheel .spoke:nth-child(2) {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.wheel .spoke:nth-child(3) {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.wheel .spoke:nth-child(4) {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.wheel .spoke:nth-child(5) {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.wheel .spoke:nth-child(6) {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.wheel .spoke:nth-child(7) {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wheel .spoke:nth-child(8) {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.axis {
  width: 25px;
  height: 25px;
  margin-top: 265px;
  position: absolute;
  background: #333;
  border-radius: 100%;
}

.axis .left {
  margin-left: 67px;
}

.axis .right {
  margin-left: 451px;
}

.handlebar .stem {
  width: 10px;
  height: 200px;
  margin-top: 45px;
  margin-left: 412px;
  position: absolute;
  background: #dadada;
  -webkit-transform: rotate(-19deg);
  transform: rotate(-19deg);
}

.handlebar .connector {
  width: 20px;
  height: 20px;
  margin-left: 374px;
  margin-top: 40px;
  -webkit-transform: rotate(-19deg);
  transform: rotate(-19deg);
  background: #dadada;
}

.handlebar .prehandle {
  width: 15px;
  height: 40px;
  margin-left: 394px;
  margin-top: -45px;
  -webkit-transform: rotate(42deg);
  transform: rotate(42deg);
  background: #dadada;
}

.handlebar .handle {
  width: 25px;
  height: 25px;
  margin-left: 400px;
  margin-top: -45px;
  position: absolute;
  background: #000;
  border-radius: 100%;
}

.pedals {
  margin-left: 227px;
  margin-top: 295px;
}

.pedals * {
  position: absolute;
}

.pedals .inside {
  width: 9px;
  height: 9px;
  background: #333;
  border-radius: 100%;
  margin-left: 3.5px;
  margin-top: 2.4px;
}

.pedals .outside {
  width: 80px;
  height: 80px;
  margin-top: -39px;
  margin-left: -37px;
  border: 5px solid #000;
  border-radius: 100%;
}

.pedals .pedalstem {
  width: 12px;
  height: 80px;
  margin-left: 2px;
  background: #dadada;
  border-radius: 10px 10px 0 0;
  -webkit-transform-origin: 6px 7px;
          transform-origin: 6px 7px;
}

.pedals .pedalstem .front {
  -webkit-animation-name: pedalstem-front;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalstem-front;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalstem-front;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalstem-front;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pedals .pedalstem .back {
  -webkit-animation-name: pedalstem-back;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalstem-back;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalstem-back;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalstem-back;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.pedals .pedalbase {
  width: 40px;
  height: 15px;
  margin-top: 70px;
  margin-left: -12px;
  background: #000;
}

.pedals .pedalbase .front {
  -webkit-animation-name: pedalbase-front;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalbase-front;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalbase-front;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalbase-front;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pedals .pedalbase .back {
  -webkit-animation-name: pedalbase-back;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: pedalbase-back;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: pedalbase-back;
  -o-animation-duration: 1s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: pedalbase-back;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.pause {
  width: 20px;
  height: 55px;
  margin: 10% auto;
  background: #fff;
  cursor: pointer;
  border-right: 12px solid #e8bf56;
  border-left: 12px solid #e8bf56;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pause.active {
  width: 0;
  height: 0;
  border-top: 25.5px solid transparent;
  border-left: 44px solid #e8bf56;
  border-bottom: 25.5px solid transparent;
  border-right: none;
}

.paused {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.paused * {
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

.inside {
  z-index: 6;
}

.axis {
  z-index: 5;
}

.pedalstem .front {
  z-index: 5;
}

.frame {
  z-index: 4;
}

.outside {
  z-index: 4;
}

.handlebar {
  z-index: 3;
}

.sit-here {
  z-index: 2;
}

.wheel {
  z-index: 1;
}

.pedalstem .back {
  z-index: -1;
}
/*# sourceMappingURL=user.css.map */