.btn-login {
    border: 2px solid #0B0B0B;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #DADADA;
    color: #515151;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 12px;
}