//navabr
.navbar {
  background-color: #dadada;

  .navbar-brand {
    width: 50px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-item {
    padding-right: 50px;
    display: flex;
    align-items: center;

    .nav-link {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;

      &.active {
        color: #aa9359;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
      }

      &:hover {
        color: #aa9359;
        font-size: 18px;
        font-style: normal;
        line-height: 22px;
      }
    }
  }


}